<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/change.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <h1>{{head}}</h1>
            <p class="heading">{{message}}</p>
        </div>
        <div class="body">
            <div class="des">
                <p class="des_para">{{des}}<br><br><span style="font-weight: bold; color:#000080">Regards Admin</span></p>
                <p class="message">{{error}}</p>
            </div>
            <div class="form">
                <div class="main_form">
                    <form action="/verify/{{status}}" method="post">
                    <div class="input">
                        {{placeholder}}: <input type="password" name="data" placeholder="{{message}}">
                    </div>
                    <div class="links">
                        <a href="/login">Login into admin panel</a>
                    </div>
                    <div class="btn">
                        <button type="submit">Check</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>